body {
  background-color: #F5F0BB;
}

hr {
   background-color: #F5F0BB;
   border-style: none;
   border-top-style: dotted;
   border-color: #C4DFAA;
   border-width: 7px;
   width:8%;
}

h1 {
  color: #73A9AD;
}

h2 {
  color: #73A9AD;
}

